.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
    padding-top: 75px;
}
#wrapper{
    z-index: 99;
}


#top, #left-sidebar, #right-sidebar{
    z-index: 100;
}

#map{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}#map iframe{
    position: fixed;
    bottom: 0;
}

#left-sidebar{
    position: fixed;
    top: 100px;
    left: 2px;
}
#right-sidebar{
    position:  fixed;
    bottom: 2px;
    right: 2px;
}